<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <title>Taco Cloud</title>
  <link ref="stykesheet" th:href="@{/style.css}">
</head>
<body>
<form method="post" th:action="@{/orders}" th:object="${order}">
  <h1>Order your taco creations!</h1>

  <img th:src="@{/images/TacoCloud.png}" alt="site logotype">
  <a th:href="@{/design}" id="another">Design another taco</a><br/>

  <div th:if="${#fields.hasErrors()}">
    <span class="validationError">
      Please correct errors and resubmit
    </span>
  </div>

  <h3>Deliver my taco masterpiece to...</h3>
  <label for="name">Name: </label>
  <input type="text" th:field="*{order_name}">
  <span class="validationError" th:if="${#fields.hasErrors('order_name')}" th:errors="*{order_name}">Name Error</span>
  <br/>

  <label for="street">Street address: </label>
  <input type="text" th:field="*{order_street}">
  <span class="validationError" th:if="${#fields.hasErrors('order_street')}" th:errors="*{sorder_treet}">Street Error</span>
  <br/>

  <label for="postalcode">Postal code: </label>
  <input type="text" th:field="*{order_postal_code}">
  <span class="validationError" th:if="${#fields.hasErrors('order_postal_code')}" th:errors="*{order_postal_code}">Postal code Error</span>
  <br/>

  <label for="postaladdress">Postal city: </label>
  <input type="text" th:field="*{order_postal_address}">
  <span class="validationError" th:if="${#fields.hasErrors('order_postal_address')}" th:errors="*{order_postal_address}">Postal address Error</span>
  <br/>

  <h3>Heres how I'll pay... ex: 5555555555554444</h3>
  <label for="cc_number">Credit card#: </label>
  <input type="text" th:field="*{cc_number}">
  <span class="validationError" th:if="${#fields.hasErrors('cc_number')}" th:errors="*{cc_number}">CC Number Error</span>
  <br/>

  <label for="cc_expiration">Expiration: </label>
  <input type="text" th:field="*{cc_expiration}">
  <span class="validationError" th:if="${#fields.hasErrors('cc_expiration')}" th:errors="*{cc_expiration}">CC Expiration Error</span>
  <br/>

  <label for="cc_CVV">CVV: </label>
  <input type="text" th:field="*{cc_CVV}">
  <span class="validationError" th:if="${#fields.hasErrors('cc_CVV')}" th:errors="*{cc_CVV}">CC Num Error</span>
  <br/>

  <input type="submit" value="Submit order">
</form>
</body>
</html>