<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <title>Taco Cloud</title>
  <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<!--/*@thymesVar id="order" type="com.cobsweden.learn.tacocloud.model.Order"*/-->
<form method="post" th:action="@{/orders}" th:object="${order}">
  <h1>Order your taco creations!</h1>

  <img th:src="@{/images/TacoCloud.png}" alt="site logotype">
  <a th:href="@{/design}" id="another">Design another taco</a><br/>

  <div th:if="${#fields.hasErrors()}">
    <span class="validationError">
      Please correct errors and resubmit
    </span>
  </div>

  <h3>Deliver my taco masterpiece to...</h3>
  <label for="name">Name: </label>
  <input id="name" type="text" th:field="*{orderName}">
  <span class="validationError" th:if="${#fields.hasErrors('orderName')}" th:errors="*{orderName}">Name Error</span>
  <br/>

  <label for="street">Street address: </label>
  <input id="street" type="text" th:field="*{orderStreet}">
  <span class="validationError" th:if="${#fields.hasErrors('orderStreet')}" th:errors="*{orderStreet}">Street Error</span>
  <br/>

  <label for="postalCode">Postal code: </label>
  <input id="postalCode" type="text" th:field="*{orderPostalCode}">
  <span class="validationError" th:if="${#fields.hasErrors('orderPostalCode')}" th:errors="*{orderPostalCode}">Postal code Error</span>
  <br/>

  <label for="postalAddress">Postal city: </label>
  <input id="postalAddress" type="text" th:field="*{orderPostalAddress}">
  <span class="validationError" th:if="${#fields.hasErrors('orderPostalAddress')}" th:errors="*{orderPostalAddress}">Postal address Error</span>
  <br/>

  <h3>Heres how I'll pay...</h3>
  <label for="ccNumber">Credit card#: </label>
  <input id="ccNumber" type="text" th:field="*{ccNumber}">
  <span class="validationError" th:if="${#fields.hasErrors('ccNumber')}" th:errors="*{ccNumber}">CC Number Error</span>
  <br/>

  <label for="ccExpiration">Expiration: </label>
  <input id="ccExpiration" type="text" th:field="*{ccExpiration}">
  <span class="validationError" th:if="${#fields.hasErrors('ccExpiration')}" th:errors="*{ccExpiration}">CC Expiration Error</span>
  <br/>

  <label for="ccCVV">CVV: </label>
  <input id="ccCVV" type="text" th:field="*{ccCVV}">
  <span class="validationError" th:if="${#fields.hasErrors('ccCVV')}" th:errors="*{ccCVV}">CC Num Error</span>
  <br/>

  <input type="submit" value="Submit order">

</form>
</body>
</html>